body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e0e0e0;
    margin: 0px;
    padding: 0px;
}
header {
    background-color: #e0e0e0;
    color: white
    text-align: center;
    padding: 10px;
}
nav{
    background-color: #111111;
    text-align center;
    padding: 10px;
}
nav a{
    color: #ffff00;
    text-decoration: none;
    padding: 0px 15px;
    display: inline-block;
    font-weight: bold;
}
nav a:hover {
    background-color: #444444;
    color: white;
}
main {
    width: 780px;
    margin: 20px auto;
    background-color: white;
    padding: 25px;
    border: 2px solid #000000;
}
h2 {
    color: #003366;
    border-bottom: 2px solid #003366;
    padding-bottom: 5px;
}
h3 {
    color: #333333;
}
footer {
    background-color: #003366;
    color: white;
    padding: 12px;
    margin-top 30px;
}
table {
    width: 100%;
    border: 3px solid #000000;
    border-collapse: colapse;
    margin-top: 15px;
    margin-bottom: 15px;
}
table th {
    background-color: #666666;
    color: white;
    border: 1px solid #000000;
    padding: 10px;
}
table td {
    border: 1px solid #000000;
    padding: 10px;
}
galeria img {

}
@media screen and (max-width: 600px) {
    main {
        width: 90%;
        padding: 15px;
    }
    nav a {
    display: block;
    border-bottom: 1px solid #333333;
    }
    galeria img {
    width: 80%;
    height: auto; 
    }
}